<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store-connect</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.openloopagentics.autoloop</key>
		<string>Autoloop AppStore CLI 1781397794</string>
	</dict>
	<key>signingCertificate</key>
	<string>DEA9D8C8C7D8034BBC90D04D3A52EF3582E2111A</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>RL4G6WZ65Q</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
